services:
  nextcloud:
    build: .docker/nextcloud
    container_name: nextcloud
    restart: unless-stopped
    networks: 
      - cloud
    depends_on:
      - redis
    ports:
      - ${WEB_PORT}:80
      - 7867:7867
    volumes:
      - ./html:/var/www/html
      - ./custom_apps:/var/www/html/custom_apps
      - ./config:/var/www/html/config
      - /mnt/storage/nextcloud/data:/var/www/html/data
      - ./supervisord:/var/log/supervisord
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_HOST=${MYSQL_HOST}
      - REDIS_HOST=redis
      - PHP_MEMORY_LIMIT=4G
      - PHP_UPLOAD_LIMIT=10G
      - APACHE_BODY_LIMIT=0
    dns:
      - ${DNS_SERVER}


  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    networks: 
      - cloud

  collabora:
    image: collabora/code
    restart: unless-stopped
    networks: 
      - cloud
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - password=${COLLABORA_PASS}
      - username=${COLLABORA_USER}
      - domain=${COLLABORA_DOMAIN}
    ports:
      - ${COLLABORA_PORT}:9980
    dns:
      - ${DNS_SERVER}

  whiteboard:
    image: ghcr.io/nextcloud-releases/whiteboard:release
    networks: 
      - cloud
    ports:
      - ${WHITEBOARD_PORT}:3002
    environment:
      - NEXTCLOUD_URL=http://nextcloud
      - JWT_SECRET_KEY=zKJMxjz7foXXqYWaF3ovr62LB60t3i0g1

  nextcloud-appapi-dsp:
    image: ghcr.io/nextcloud/nextcloud-appapi-dsp:release
    restart: unless-stopped
    privileged: true
    networks: 
      - cloud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NC_HAPROXY_PASSWORD=${NC_HAPROXY_PASSWORD}

  appapi-harp:
    image: ghcr.io/nextcloud/nextcloud-appapi-harp:release
    container_name: appapi-harp
    hostname: appapi-harp
    ports:
      - ${HARP_PORT}:8780
      - ${FRP_PORT}:8782
    environment:
      - HP_SHARED_KEY=${NC_HAPROXY_PASSWORD}
      - NC_INSTANCE_URL=http://nextcloud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certs:/certs
    restart: unless-stopped
    networks: 
      - cloud    
      
networks:
  cloud:
    name: cloud
    driver: bridge      